* {
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
}

body {
    background-image: url('../images/mountain.jpg'); 
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display:flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    
}
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.btn:hover {
    background-color:#ffffff;
    transform: scale(1.02);
}


.btn {
    margin-left: 40px;
    font-size: 1.1em;
    outline: none;
    text-decoration: none;
    font-weight: 500;
    width: 130px;
    height: 50px;
    background: whitesmoke;
    border: 2px solid whitesmoke;
    border-radius: 6px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    border: 2px solid whitesmoke;
}

h2{
    color: whitesmoke;
    font-size: 3em;
    margin-left: -900px;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: whitesmoke;
    text-decoration: none;
    font-weight: 500;
    margin-left:40px;
}

i {
    font-size: 40px;
    color: whitesmoke;
}

.wrapper {
    width: 420px;
    height: 440px;
    color: whitesmoke;
    border-radius: 10px;
    padding: 30px 40px;
    background: transparent;
    border: 2px solid whitesmoke;
    backdrop-filter: blur(40px);
    border-radius: 10px;
    padding: 30px 40px;
    position: relative;
    transition: height .2s ease;
    overflow: hidden;
}